.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 1rem .4rem 0 .8rem;
    border-radius: var(--main-border-radius);
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 3px 6px rgba(0, 0, 0, .2);
}

.dateContainer {
    width: fit-content;
}

.dayName {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
}

.date {
    margin-left: .5rem;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
}

.weatherData {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainTemperature {
    font-size: 1.6rem;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
}

.minMaxContainer {
    display: flex;
}

.maxContainer {
    display: flex;
}

.arrowUp {
    align-self: center;
}

.maxTemperature {
    margin: 0 0 0 .5rem;
    font-size: 1.3rem;
    font-weight: 500;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
}

.minContainer {
    display: flex;
    margin-left: 1.4rem;
}

.arrowDown {
    align-self: center;
}

.minTemperature {
    margin: 0 0 0 .5rem;
    font-size: 1.3rem;
    font-weight: 500;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
}

.iconContainer {
    position: relative;
    bottom: .3rem;
}

@media all and (max-width: 239px) {

    .mainTemperature {
        font-size: 1.3rem;    
    }    
}

@media all and (max-width: 311px) {

    .minMaxContainer {
        flex-direction: column;
    }

    .minContainer {
        margin-left: 0;
    }
}

@media all and (max-width: 358px) {

    .mainContainer {
        padding: .5rem .4rem 0 .8rem;
    }

    .dayName {
        font-size: 14px;
        font-weight: 300;
    }
    
    .date {
        font-size: 14px;
        font-weight: 300;
    }

    .maxTemperature {
        font-size: 1rem;
    }

    .minTemperature {
        font-size: 1rem;
    }
}

@media all and (max-width: 530px) {

    .dayName {
        text-shadow: 1px 1px rgba(50, 50, 70, .5);
    }
    
    .date {
        text-shadow: 1px 1px rgba(50, 50, 70, .5);
    }

    .maxTemperature {
        text-shadow: 1px 1px rgba(50, 50, 70, .5);
    }

    .minTemperature {
        text-shadow: 1px 1px rgba(50, 50, 70, .5);
    }
}