.loader-container-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9rem;
}

.loader-styles {
    color: var(--main-text-color);
    font-size: 6rem;
}