.form-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.3rem;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.form-control:focus {
    box-shadow: none;
    color: var(--main-text-color);
}

.form-control:focus::placeholder {
    color: var(--main-text-color);
}

.searcher-style {
    width: 80%;
    max-width: 400px;
    color: rgba(230, 230, 230, 1);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 0;
}

.searcher-style::placeholder {
    color: rgba(230, 230, 230, 1);
}

.searcher-style:focus-visible {
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
}

.searcher-submit-style {
    font-size: 1rem;
    margin-left: .7rem;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(230, 230, 230, 1);
}

.searcher-submit-style:hover {
    color: var(--main-text-color);
}

.searcher-submit-style:focus {
    color: var(--main-text-color);
    box-shadow: none;
}


