.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.3rem;
}

.searcher {
    width: 80%;
    max-width: 400px;
    padding-left: .4rem;
    color: rgba(230, 230, 230, 1);
    background-color: transparent;
    font-weight: 300;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.searcher:focus {
    outline: 0;
    color: var(--main-text-color);
    border-bottom: 1px solid var(--main-text-color);
}

.searcher::placeholder {
    color: rgba(230, 230, 230, 1);
}

.searcher:focus::placeholder {
    color: var(--main-text-color);
}

.btnSubmit { 
    width: 20%;
    max-width: 3rem;
    font-size: 1rem;
    color: rgba(230, 230, 230, 1);
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.btnSubmit:hover {
    color: var(--main-text-color);
}

.btnSubmitFocus {
    border-bottom: 1px solid var(--main-text-color);
} 
