.form-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.3rem;
}

.searcher-style {
    width: 25%;
    border-radius: var(--main-border-radius);
    border: none;
}

.searcher-submit-style {
    margin-left: .7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: var(--main-border-radius);
    border: none;
    font-weight: bold;
    background: linear-gradient(to right, #00b4d8, #000d6c);
    color: var(--main-text-color);
}



