.error-container-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

.error-styles {
    color: var(--main-text-color);
    text-align: center;
}