.main-container-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.second-container-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 270px;
}

.temperature-container-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 270px;
    height: 15rem;
    margin-top: .9rem;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 3px 6px rgba(0, 0, 0, .2);
}

.min-max-main-container-styles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.main-temperature-styles {
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50, 50, 70, .5);
}

.max-temperature-styles {
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
}

.min-temperature-styles {
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
}

.weather-condition-styles {
    margin-top: 1.3rem;
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
    text-align: center;
}

/* ------------------------------------------------ */

.forecast-container-styles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1rem;
}

.tomorrow-container-styles {
    width: 100%;
    max-width: 395.39px;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 3px 3px rgba(0, 0, 0, .2);
    padding: .8rem .5rem .5rem 1rem;
}

.tomorrow-date-container-styles {
    display: inline-block;
    font-style: italic;
    font-weight: 300;
    text-shadow: 2px 2px rgba(50, 50, 70, .5);
} 

.tomorrow-date-container-styles p {
    display: inline-block;
    margin-bottom: 0;
}

.tomorrow-date-styles {
    margin-left: 7px;
}

.tomorrow-data-container-styles {
    display: flex;
    justify-content: space-between;
    /* margin-left: .5rem; */
    /* margin-right: .5rem; */
}

.tomorrow-temperature-styles {
    align-self: center;
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
    margin-bottom: 0;
}

.tomorrow-description-styles {
    /* margin-left: 1.2rem; */
    font-size: 1rem;
    font-weight: 500;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
}

.tomorrow-description-styles, .tomorrow-icon-styles {
    margin-bottom: 0;
    align-self: center;
}

/* ------------------------------------------------ */

.third-day-container-styles {
    width: 100%;
    max-width: 395.39px;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 3px 3px rgba(0, 0, 0, .2);
    padding: .8rem .5rem .5rem 1rem;
    margin-top: 1.2rem;
}

.third-day-date-styles {
    font-style: italic;
    font-weight: 300;
    text-shadow: 2px 2px rgba(50, 50, 70, .5);
} 

.third-day-date-styles p {
    margin-bottom: 0;
}

.third-day-data-container-styles {
    display: flex;
    justify-content: space-between;
    /* margin-left: .5rem;
    margin-right: .5rem; */
}

.third-day-temperature-styles {
    align-self: center;
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
    margin-bottom: 0;
}

.third-day-description-styles {
    font-size: 1rem;
    font-weight: 500;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
}

.third-day-description-styles, .third-day-icon-styles {
    margin-bottom: 0;
    align-self: center;
}

/* ------------------------------------------------ */

@media all and (max-width: 349px) {

    .tomorrow-temperature-styles {
        font-size: 1rem;
    }

    .tomorrow-description-styles {
        margin-left: 1rem;
        font-size: .9rem;
        text-align: center;
    }

    .third-day-temperature-styles {
        font-size: 1rem;
    }
    
    .third-day-description-styles {
        margin-left: 1rem;
        font-size: .9rem;
        text-align: center;
    }
} 

@media all and (max-width: 991px) {
    
    .main-container-styles {
        align-items: center;
    }

    .forecast-container-styles {
        align-items: center;
    }
}
