.footerRow {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(35, 35, 35, .3);
}

.copyrightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

.socialMediaContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5px;
}

.socialMediaContainer ul {
    margin-right: 15px;
}

.socialMediaContainer ul li a i {
    color: var(--main-text-color);
    font-size: 25px;
}

@media all and (max-width: 251px) {

    .copyright {
        font-size: 10px;
    }
}

@media all and (min-width: 252px) and (max-width: 309px) {

    .copyright {
        font-size: 12px;
    }
}

@media all and (max-width: 767px) {

    .footerRow {
        padding-top: 11px;
    }
    
    .socialMediaContainer {
        justify-content: center;
    }
    
    .socialMediaContainer ul {
        margin-right: 0;
    }
}