.page {
    padding-bottom: 0;
}

.mainRow {
    padding-right: 4.5rem;
}

@media all and (max-width: 991px) {

    .page {
        padding-bottom: 70px;
    }

    .mainRow {
        padding-right: 0;
    }
}

