* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #343b4d;
    
    --main-text-color: rgba(250, 250, 250, 1);

    --main-border-radius: 23px;
    --secondary-border-radius: 25px;

    --main-font-family: 'Poppins', sans-serif;
}

body {
    width: 95%;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--main-text-color);
    font-family: var(--main-font-family);
}
