* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cold-bg-image: url(images/cold-place.jpg);
    --warm-bg-image: url(images/warm-place.jpg);
    --background-filter: rgba(0, 0, 0, .5);
    --main-text-color: rgba(250, 250, 250, 1);
    --main-border-radius: 23px;
    --main-font-family: 'Poppins', sans-serif;
}

body {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
}
