.mainContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.secondContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 270px;
}

.weatherData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 270px;
    height: 15rem;
    margin-top: .9rem;
    border-radius: var(--main-border-radius);
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 3px 6px rgba(0, 0, 0, .2);
}

.temperatureContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.mainTemperature {
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50, 50, 70, .5);
}

.maxTemperature {
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
}

.minTemperature {
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
}

.weatherCondition {
    margin-top: 1.3rem;
    font-size: 1.7rem;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, .5);
    text-align: center;
}

@media all and (max-width: 991px) {

    .mainContainer {
        justify-content: center;
    }
}
